<?xml version="1.0"?>
<config>
    <modules>
        <Instamojo_Imojo>
            <version>0.0.9</version>
        </Instamojo_Imojo>
    </modules>
    <global>
        <blocks>
            <imojo>
                <class>Instamojo_Imojo_Block</class>
            </imojo>
        </blocks>
        <models>
            <imojo>
                <class>Instamojo_Imojo_Model</class>
            </imojo>
        </models>
        <resources>
            <imojo_setup>
                <setup>
                    <module>Instamojo_Imojo</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </imojo_setup>
            <imojo_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </imojo_write>
            <imojo_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </imojo_read>
        </resources>
    </global>
    <default>
        <payment>
            <imojo>
                <active>1</active>
                <model>imojo/PaymentMethod</model>
                <order_status>pending</order_status>
                <title>Pay Using Instamojo</title>
            </imojo>
        </payment>
    </default>
    <frontend>
        <routers>
            <imojo>
                <use>standard</use>
                <args>
                    <module>Instamojo_Imojo</module>
                    <frontName>imojo</frontName>
                </args>
            </imojo>
        </routers>
    </frontend>
</config> 